cmake-build-debug
libs/bullet3
.idea/
turnedin/

*.app
*.apk
*.cur
*.exe
*.gif
*.hex
*.i*86
*.ico
*.ini
*.inf
*.iml
*.iso
*.jar
*.jpeg
*.jpg
*.msc
*.min.js
*.mp3
*.mp4
*.mtl
*.obj
*.odp
*.ogg
*.out
*.png
*.pdf
*.unityweb
*.x86_64
*.server
*.sh
*.svg
*.vbm
*.wav
*.xml
*.xz
*.zip
